[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Storage Performance Development Kit
[access "refs/*"]
	owner = group user/Alexey Marchuk (AlekseyMarchuk)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Alexey Marchuk (AlekseyMarchuk)
	label-Verified = -1..+1 group user/Alexey Marchuk (AlekseyMarchuk)
	push = group user/Alexey Marchuk (AlekseyMarchuk)
	read = group user/Alexey Marchuk (AlekseyMarchuk)
	rebase = group user/Alexey Marchuk (AlekseyMarchuk)
	removeReviewer = group user/Alexey Marchuk (AlekseyMarchuk)
	submit = group user/Alexey Marchuk (AlekseyMarchuk)
[access "refs/heads/*"]
	create = group user/Alexey Marchuk (AlekseyMarchuk)
	push = +force group user/Alexey Marchuk (AlekseyMarchuk)
	pushMerge = group user/Alexey Marchuk (AlekseyMarchuk)
	read = group user/Alexey Marchuk (AlekseyMarchuk)
[access "refs/tags/*"]
	push = group user/Alexey Marchuk (AlekseyMarchuk)
	push = +force group user/Alexey Marchuk (AlekseyMarchuk)
